
.full{
  margin: 0;
  padding: 0;
  height: 100vh;
  width: auto;
  color: white;
  min-height: 100vh;
  background: linear-gradient(rgb(38,38,99),rgb(73,38,99));
}
.temp{
  position: absolute;
  top : 50%;
  left: 50%;
  transform: translate(-50%);
  cursor: pointer;
  font-size: 25px;
}
.summary{
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%);
  font-size: 35px;
  letter-spacing: 2px;
}
.temp span{
  font-size: 25px;
  margin-left: 5px;
}
.humid{
  position: absolute;
  top: 68%;
  font-size: 25px;
  letter-spacing: 2px;
  left: 50%;
  transform: translate(-50%);
}
.speed{
  position: absolute;
  top: 75%;
  font-size: 25px;
  letter-spacing: 2px;
  left: 50%;
  transform: translate(-50%);
}
